<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
              <li>
                <a class="nav-link text-center" href="{% url 'accounts:update' %} ">회원정보 수정</a>
              </li>
              <li>
                <a class="nav-link text-center" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
              </li>
              <li class="nav-item">
                <form action="{% url 'accounts:logout' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="form-control" value="logout">
                </form>
              </li>
              <li>
                <form action="{% url 'accounts:delete' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="form-control" value="회원탈퇴">
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-center" aria-current="page" href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center" href="{% url 'accounts:signup' %}">signup</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <h3>안녕하세요, {{ user }}님!!</h3>
    {% block content %}
    {% endblock content %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
